ul.navbar-nav
  li.nav-item
    a.nav-link(href='https://semux.org/') Main Website
  li.nav-item
    a.nav-link(href='https://semux.org/airdrop/eth') Airdrop
  li.nav-item
    a.nav-link(href='https://semux.org/airdrop/eth/summary') Logs
