doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title SEMUX - A New And Exciting Blockchain
    link(rel='apple-touch-icon', sizes='144x144', href='https://www.semux.org/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='https://www.semux.org/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='https://www.semux.org/favicon/favicon-16x16.png')
    link(rel='manifest', href='https://www.semux.org/favicon/manifest.json')
    link(rel='mask-icon', href='https://www.semux.org/favicon/safari-pinned-tab.svg', color='#e05a00')
    meta(name='msapplication-TileColor', content='#f6f9ff')
    meta(name='msapplication-TileImage', content='https://www.semux.org/favicon/mstile-144x144.png')
    meta(name='theme-color', content='#f6f9ff')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', integrity='sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy', crossorigin='anonymous')
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='https://www.semux.org/css/style.css')
    link(rel='stylesheet', href='https://www.semux.org/testnetfaucet/public/css/custom.css?v2')
  body(data-spy='scroll', data-target='#headMenu', data-offset='86')
    .site-wrapper
      header
        .container
          nav.navbar.navbar-expand-lg
            a.navbar-brand(href='https://www.semux.org/')
              img(src='https://www.semux.org/img/Semux%20logo@1x.svg', alt='Semux')
              span
                b SEMUX
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#headMenu', aria-controls='headMenu', aria-expanded='false', aria-label='Toggle navigation')
              i.ion-navicon-round
            #headMenu.collapse.navbar-collapse.justify-content-end
              ul.navbar-nav
                li.nav-item
                  a.nav-link(href='https://semux.org/testnetfaucet') Testnet Faucet
                li.nav-item
                  a.nav-link(href='https://testnet.semux.info/') Testnet Explorer
      #mobileOverlay(style='display:none')
      section#home
        .container
          .row
            - if (!success && !error)
              .col-xs-12.col-md-12(style='text-align: center;')
                h1 Semux Testnet Faucet
                p.faucet-description
                  span The faucet will send you 1001 SEM within 60 seconds.
                  span#walletBalance
                  span#sentCoins
                form#faucetForm(method="POST", action="")
                  .col-md-6.offset-md-3(style='margin-bottom: 30px;')
                    input.form-control(type='text', name="address", placeholder='Semux Address')
                    span
                      a.details(href="https://github.com/semuxproject/semux-core/blob/master/docs/Testnet.md#how-to-connect-semux-testnet", target="_blank") How to connect to Semux Testnet?
                  div(style='display:inline-block;text-align:center;')
                    button.btn.btn-danger.g-recaptcha(data-sitekey="6LfqUEgUAAAAAHW4miZIqwfsEX_jPZQZ_67hNDLk", data-callback="onSubmit") Send
            - else if (success == true)
              .col-xs-12.col-md-12(style='text-align: center;')
                h1 Success
                p.faucet-description
                  span You will receive 1001 SEM within 60 seconds.
                  span
                    | Check&nbsp;
                    a(href="https://testnet.semux.info/explorer/account/" + address) testnet blockchain explorer&nbsp;
                    | - transaction will appear shortly.
                  span.alert.alert-warning(style='max-width: 600px;margin: 20px auto;')
                    | Please avoid registering delegate if you're not ready to maintain a validator. Thanks!
            - else if (error == true)
              .col-xs-12.col-md-12(style='text-align: center;')
                h1 Error
                p.faucet-description
                  span #{reason}
                  span
                    a(href="https://semux.org/testnetfaucet") Retry
    script.
      function onSubmit(token) {
        document.getElementById("faucetForm").submit();
      }
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js', integrity='sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4', crossorigin='anonymous')
    script(src='https://www.google.com/recaptcha/api.js')
    script(src='https://www.semux.org/testnetfaucet/public/js/faucet.js')
